[Unit]
Description=Update Hyper OS cloud game profiles
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hyperos-profile-update
