set default=0
set timeout=3

menuentry "Hyper OS v0.1 (Debian minimal)" {
    linux /boot/vmlinuz root=/dev/sr0 ro console=tty0 console=ttyS0,115200n8 systemd.unit=multi-user.target
    initrd /boot/initrd.img
}
